body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px;
}
#title {
  grid-column: span 2;
  text-align: center;
}
.meal,
.cocktail {
  border: 1px solid #ccc;
  padding: 32px;
  margin: 0 20px 32px 20px;    /*adda meir padding inni, og margin for luft rundt boksene*/
  border-radius: 8px;
  display: flex;
  flex-direction: column;    /*Sentrerte innholdet*/
  align-items: center;
}

.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 10px;
}

#mealInstructions,
#cocktailInstructions {
  white-space: pre-line; /*Dette tar var på linjeskiftene fra den opprinnelige API-en*/
}
