body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px; 
  background-color: #1e3a5f;
}
#title {
  grid-column: span 2;
  text-align: center;
  color: white; 
}
.meal,
.cocktail {
  border: 1px solid #ccc;
  padding: 32px;
  margin: 0 20px 32px 20px;    /*adda meir padding inni, og margin for luft rundt boksene*/
  border-radius: 8px;
  display: flex;
  flex-direction: column;    /*Sentrerte innholdet*/
  align-items: center;
  background-color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.meal h2,
.cocktail h2 {
  margin-bottom: 10px; 
  color: #1e3a5f; 
}

.meal h3,
.cocktail h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #1e3a5f;
}

.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 10px;
}

#mealInstructions,
#cocktailInstructions {
  white-space: pre-line; /*Dette tar var på linjeskiftene fra den opprinnelige API-en*/
}
